<!--<div class="col-md-6 col-sd-6">-->
<div>
<ngb-carousel>
  <ng-template ngbSlide>
    <img class="img-fluid mx-auto d-block" src="assets/showcase/images/startpage/challenges.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Challenge friends</h3>
      <p>Challenge you friend or enemy and kick some ass!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="img-fluid mx-auto d-block" src="assets/showcase/images/startpage/getStarted.jpg" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Get started</h3>
      <p>Feeling tired on work? Do something about it!!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="img-fluid mx-auto d-block" src="assets/showcase/images/startpage/together.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Together we are strong</h3>
      <p>Worked together to reach amazing results</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="img-fluid mx-auto d-block" src="assets/showcase/images/startpage/victory.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Conquer your office now</h3>
      <p>Do you feel that? It is the tast of sweet victory</p>
    </div>
  </ng-template>
</ngb-carousel>
</div>
