
/*
.header-style {
  color: #5d8ffc;
  text-align: center;
  color: white;
  float: left;
  padding-left: 2%;
  margin-top:0.3%;
}
  */

/*---------------------------Large Desktop --------------------------------*/

@media only screen and (max-width: 2000px) {
  .header {
    height: 80px;
    width: 100%;
  }
  .buttons {
    padding-bottom: 1%;
  }

  .button {
    width:200px;
  }

  .header img {
    width: 50px;
    height: 50px;
    padding-top: 0.8%;
  }

  .leftSide {
    float:left;
    padding-top:1%;
    padding-left:3%;
  }

  .rightSide {
    float:right;
    padding-top:1%;
    padding-right:3%;
  }

  .header-text {
    margin: 0;
    color: white;
    visibility: visible;
    float: left;
    padding-left: 1%;
  }
}
/*---------------------------------------------------------------------*/

/*--------------------------- Medium Desktop --------------------------------*/

@media only screen and (max-width:1400px) {
  .header {
    height: 80px;
    width: 100%;
  }

  .buttons {
  }

  .button {
    margin-top: 2.5%;
    width: 200px;
  }

  .header img {
    width: 50px;
    height: 50px;
    padding-top: 1%;
  }

  .leftSide {
    float: left;
    padding-top: 1.5%;
    padding-left: 3%;
  }

  .rightSide {
    padding-top: 1%;
    padding-right: 3%;
  }

  .header-text {
    margin: 0;
    color: white;
    visibility: visible;
    float: left;
    padding-left: 1%;
  }
}
/*---------------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
  .header-text {
    visibility: hidden;
  }
  .header-text {
    width: 1px;
  }
  .button {
    width: 100px;
  }

}
  /*--------------------------- Mobile --------------------------------*/

  @media only screen and (max-width: 500px) {
    .header {
      height: 60px;
    }
    .button {
      width: 40px;
    }

    .header-text {
      visibility: hidden;
    }

    .header img {
      width: 40px;  
      height: 40px;
      padding-top: 2.5%;
    }

    .leftSide {
      float: left;
      padding-top: 3%;
    }
    .rightSide {
      padding-right: 8%;
      padding-top: 2%;
    }

    .header-text {
      width:1px;
    }
  }
  /*---------------------------------------------------------------------*/

  /*--------------------------- Generell --------------------------------*/
  .rightSide {
    float: right;
    margin: 0;
  }

  .leftSide {
    float: left;
    margin: 0;
  }

  div {
    background-color: #3E5062;
    color: white;
  }

  h1 {
    margin: 0;
  }
