<div class="globalBackgroundColor">
  <div class="makeSpace">
    <h1>Yes, sitting too long can kill you</h1>
    <p>Take a movement break every 30 minutes, say experts. No matter how much you exercise, sitting for excessively long periods
      of time is a risk factor for early death, a new study published Monday in Annals of Internal Medicine found. There's
      a direct relationship between time spent sitting and your risk of early mortality of any cause, researchers said, based
      on a study of nearly 8,000 adults. As your total sitting time increases, so does your risk of an early death. The positive
      news: People who sat for less than 30 minutes at a time had the lowest risk of early death.</p>
    <div class="centerImage">
      <img src="assets/showcase/images/startpage/sitting.jpg" alt="" class="img1">
    </div>
  </div>

  <div class="sectionTwo">
    <h2>How sedentary lifestyle effects the body</h2>
    <p>Sedentary lifestyles increase all causes of mortality, double the risk of cardiovascular diseases, diabetes, and obesity,
      and increase the risks of colon cancer, high blood pressure, osteoporosis, lipid disorders, depression and anxiety.
      According to WHO, 60 to 85% of people in the world—from both developed and developing countries—lead sedentary lifestyles,
      making it one of the more serious yet insufficiently addressed public health problems of our time. It is estimated
      that nearly two-thirds of children are also insufficiently active, with serious implications for their future health.</p>
    <div class="centerImage">
      <img src="assets/showcase/images/startpage/sitting3.jpg" alt="" class="img2">
    </div>
  </div>
<!--
  <div class="makeSpace">
    <h2>Preventing a Sedentary Lifestyle</h2>
    <p>Five thousand steps per day—even 20,000—does not make the difference between a sedentary or an active lifestyle. Even
      people who exercise vigorously for two hours per day do not necessarily live an active lifestyle. In order to live
      an active lifestyle and maximize the benefits from it, you have to look at the total amount of time you’re sitting—that
      is, being sedentary—to the time you’re being active. The time you spend moving or engaging your muscles, whether it’s
      from walking (at any pace), standing, or vigorously exercising, is activity. Conversely, the time you spend sitting
      on the sofa, behind a desk, at a table, or behind the wheel of a car, is sedentary. And research shows that when you’re
      sedentary for an extended period of time without any activity, you’re at an increased risk of weight gain, diabetes,
      high cholesterol, and premature death. This is true even if you exercise daily. The timing of activity, therefore,
      is essential to health. Fitness trackers encourage you to take more steps, but if you’re taking them all in a single
      hour of the day and then sitting the rest of the day, they won’t necessarily provide you with the health benefits you’re
      hoping for. Get Up and Get Moving! The easy fix is to simply get more movement in your life. By no means am I suggesting
      that you stop tracking your steps, going to the gym, or engaging in bouts of exercise. What I’m saying is that limiting
      the amount of time you spend sedentary is essential to your health. Simply making an effort to stand up once an hour
      for about five minutes can reduce the health impacts of extended periods of sitting.</p>
  
    <h3>Two easy ways to boost activity levels are:</h3>
    <h5>Standing at work:</h5>
    <p>If you have a desk job, raise your workstation by stacking books or asking your employer for a riser to place your computer/work
      materials on.</p>
    <h5>Set a timer to get up every hour or so:</h5>
    <p>If you’re at work, use the time to put fresh water in your water bottle, take a walk around the office or go to the bathroom.
      If you’re at home watching television, stand up for five minutes.
    </p>
    <h5>These things may seem too small to be effective and might not feel like activity, but they can make a huge difference
      in your overall health and how you age.</h5>
    <div class="centerImage makeSpace">
      <img src="assets/showcase/images/startpage/sitting2.jpg" alt="" class="img3">
    </div>
  </div>
-->
  <div class="makeSpace">
    <h2>So what are you waiting for? Sign up and save your life!</h2>
    <div class="wrapper">
      <button class="wrapper button greenButtons" (click)="goToCreateAccount()" mat-raised-button>Register</button>
    </div>
  </div>
  <div class="makeSpace">
    <h4>Or do you have already an account? Log in now! </h4>
    <div class="wrapper">
      <button class="wrapper button blueButtons" (click)="goToLogIn()" mat-raised-button>Log In</button>
    </div>
  </div>
</div>