<div class="header" style="display:flex;">
  <!----------------------Left side-------------------------------->
  
  <div style="flex:1;" class="col-centered">
    <button class="material-icons md-48" mat-icon-button [matMenuTriggerFor]="menu">
      <i class="material-icons">menu</i>
      <!--<mat-icon>more_vert</mat-icon>         leftSide-->
    </button>
    <mat-menu #menu="matMenu" color="black">
      <button mat-menu-item>
        <i class="material-icons">search</i>
        <span>Search</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">settings</i>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">chat</i>
        <span>Chat</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">forum</i>
        <span>Forum</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">format_list_numbered</i>
        <span>Leaderboard</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">timeline</i>
        <span>Statistics</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">group</i>
        <span>Friends</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">directions_run</i>
        <span>Events</span>
      </button>
      <button mat-menu-item (click)="goToDaily()">
        <i class="material-icons">directions_walk</i>
        <span>Daily challenge</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">grade</i>
        <span>Challenges</span>
      </button>
    </mat-menu>
  </div>

  <div style="flex:5; margin-top:1%" class="middleSection">
    <div style="display:flex;">
      <div>
        <img src="assets/logo.png" alt="logo" (click)="goToStartPage()" style="cursor:pointer;" />
      </div>
      <div>
        <h1 class="header-text" style="cursor:pointer;" (click)="goToStartPage()">
          Happen
        </h1>
      </div>
    </div>
  </div>




  <!----------------------Right side-------------------------------->
  <!--class="rightSide"       <div class="buttons">-->
  <div style="flex:5; margin-right:2%;" class="col-centered rightSection">
    <div style="display:flex;">
      <div>
        <button style="background-color:#3e8e41; color:white; margin-right:15px;" class="button" (click)="goToCreateAccount()" mat-raised-button>Register</button>
      </div>
      <div>
        <button style="background-color:#5d8ffc;" class="button" (click)="goToLogIn()" mat-raised-button>Log In</button>
      </div>
    </div>
  </div>

</div>

<!-- </div>
        <div class="col-lg-3 col-md-3 col-sm-1 col-1" style="margin-top:1%">
      <h1 class="header-text" style="cursor:pointer;" (click)="goToStartPage()">
        Happen
      </h1>
    </div>


      -->