<div class="header" style="display:flex; ">
  <!----------------------Left side-------------------------------->

  <div class="leftSide">
    <div class="everyDiv" style="flex:1;">
      <button class="material-icons md-48" mat-icon-button [matMenuTriggerFor]="menu">
        <i class="material-icons">menu</i>
        <!--<mat-icon>more_vert</mat-icon>         leftSide-->
      </button>
      <mat-menu #menu="matMenu" color="black">
        <!--   <button mat-menu-item>
        <i class="material-icons">search</i>
        <span>Search</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">chat</i>
        <span>Chat</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">forum</i>
        <span>Forum</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">format_list_numbered</i>
        <span>Leaderboard</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">directions_run</i>
        <span>Events</span>
      </button>
    -->
        <button mat-menu-item (click)="goToChallengeView()">
          <i class="material-icons">group</i>
          <span>Challenge a Friend</span>
        </button>

        <button mat-menu-item (click)="goToDaily()">
          <i class="material-icons">directions_walk</i>
          <span>Daily challenge</span>
        </button>

        <button mat-menu-item (click)="goToChallengeWithFriend()">
          <i class="material-icons">group</i>
          <span>Challenge With a Friend</span>
        </button>
        <div *ngIf="!(isLoggedOut())" style="background-color: transparent;">
          <button mat-menu-item (click)="goToStatistics()">
            <i class="material-icons">timeline</i>
            <span>Statistics</span>
          </button>
        </div>
        <button mat-menu-item (click)="goToSettings()">
          <i class="material-icons">settings</i>
          <span>Settings</span>
        </button>
      </mat-menu>
    </div>

    <div style="flex:1;" class="everyDiv">
      <img src="assets/showcase/images/startpage/logo2.png" alt="logo" (click)="goToStartPage()" style="cursor:pointer;" />
    </div>
    <div style="flex:7; align-items:flex-start; margin-left:5%;" class="everyDiv">
      <h1 class="header-text" style="cursor:pointer;" (click)="goToStartPage()">
        Officise
      </h1>
    </div>
  </div>


  <!----------------------Right side-------------------------------->

  <div class="rightSide">
    <!-- The user is logged out -->
    <div *ngIf="isLoggedOut() == true" style="flex:1; flex-flow:row;" class="everyDiv">
      <div style="display:flex;flex:3; justify-content:flex-end;margin:2%;">
        <button style="background-color:#3e8e41; color:white;" class="button" (click)="goToCreateAccount()" mat-raised-button>Register</button>
      </div>
      <div style="flex:1;" class="logInButton">
        <button style="background-color:#5d8ffc;" class="button" (click)="goToLogIn()" mat-raised-button>Log In</button>
      </div>
    </div>
    <!-- The user is logged in -->
    <div style="display:flex; flex-direction:column; ">
      <div *ngIf="isLoggedOut() == false" style="display:flex;align-self:flex-end; flex-direction:row;flex:3;" class="everyDiv">
        <h5 (click)="goToSettings()" class="everyDiv" style=" cursor:pointer; color:white; margin-right:4%; margin-top:3%;">{{ printUsername }}</h5>
        <i (click)="goToSettings()" style="cursor:pointer; margin-right:10%;" class="material-icons">person</i>
        <div style="flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
        </div>
        <button class="logOutButton" style="cursor:pointer;" (click)="logout()">Logout</button>
      </div>
      <div class="notificationBox" *ngIf="challengeCounterChallengeAFriend != 0" (click)="goToChallengeView()">
        <p style="text-decoration:underline;">You have {{challengeCounterChallengeAFriend}} new challenge(s) </p>
      </div>
      <div class="notificationBox" *ngIf="challengeCounterChallengeWithAFriend != 0" (click)="goToChallengeWithFriend()">
        <p style="text-decoration:underline;">You have {{challengeCounterChallengeWithAFriend}} new challenge(s) </p>
      </div>
    </div>

  </div>