<div class="mainSection">
  <div style="width:100%; text-align:center;">
    <h1 style="flex:1">Statistics</h1>
    <hr>
  </div>
  <!-- Show the users different statistics -->
  <div class="userStatistics">
    <div class="flexItem">
      <h4>Score:</h4>
      <h6>{{userScore}} points</h6>
    </div>
    <div class="flexItem">
      <h4>Daily challenge:</h4>
      <h6>{{dailyChallengeStreak}} days in row </h6>
      <h6>{{dailyChallengeTotal}} total </h6>

    </div>
    <div class="flexItem">
      <h4>Challenge a friend:</h4>
      <h6>Foosball</h6>
    </div>
  </div>

  <!-- Show the users leaderboard  -->
</div>