<div class="mainSection">
  <div style="width:70%; text-align:center;">
    <h1 style="flex:1">Statistics</h1>
    <p>Here can you see all your statistics. You gain points to the score table by playing the different games,below are the
      points you got for all the games.</p>
      <ul>
        <li><b>Daily Challenge:</b></li>
        <p>250 points if you complete the challenge.</p>
        <li><b>Challenge a friend</b></li>
        <p>200 points if you win the challenge, 150 points if you lose. </p>
        <li><b>Challenge with a friend</b></li>
        <p>300 points if both complete the challenge.</p>
      </ul>
    <hr>
  </div>
  <!-- Show the users different statistics -->
  <div class="userStatistics">
    <div class="flexItem">
      <h4>Score:</h4>
      <h6>{{userScore}} points</h6>
    </div>
    <div class="flexItem">
      <h4>Daily challenge:</h4>
      <h6>{{dailyChallengeStreak}} days in row </h6>
      <h6>{{dailyChallengeTotal}} in total </h6>

    </div>
    <div class="flexItem">
      <h4>Challenge a friend:</h4>
      <div *ngFor="let challenge of challengeFriendObservable | async">
        <div *ngIf="!(challenge.name == start)">
          <h6>{{challenge.name}} : {{challenge.victories}} wins</h6>
        </div>
      </div>
    </div>


    <!-- Show the users leaderboard  -->
  </div>