.mainSection {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.numberCircle  {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    //padding: 8px;
    background: #F6F6F6;
    border: 2px solid #666;
    color: black;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align:center;
    text-decoration:none;
    margin: 3px;
    font: 18px Arial, sans-serif;
}

.flexArea {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color:#F6F6F6;
    -webkit-box-shadow: 10px 10px 50px -18px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 50px -18px rgba(0,0,0,1);
    box-shadow: 10px 10px 50px -18px rgba(0,0,0,1);
}

.challengeWindow {  
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    width: 100%;
    background-color: #F6F6F6;
}

.challengeWindow h2{  
    color: black;
}
.challengeWindow h3{  
    color: black;
}

.getChallengeContainer {
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(/assets/bouldering2.jpg);
    background-size:cover;
    width: 100%;
    height: 100%;
    
}

  .getChallengeContainer .getChallengeText {
    position: absolute;
    z-index: 1;
    top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;

  }

  .getChallengeContainer .link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #3e8e41;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border: 1px solid #3e8e41;
    border-radius: 5px;
    padding: 4%;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
  
  .getChallengeContainer .link:hover {
    filter: brightness(120%);
    opacity: 0.8;
   // background-color: black;
  }
  


.getChallengeWindow {  
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    width: 100%;
    background-color: #F6F6F6;
}

.getRandomChallengeButton {
    background: #3e8e41;
    color: #fff;
    border: 1px solid #3e8e41;
    border-radius: 5px;
    padding: 4%;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }


  .mainSection button:hover {
    cursor: pointer;
  }

//Sequence styling
.goButtonSequence {
    width: 100%;
    margin-top: auto;
    //background-color: #3e8e41;
    background-color: #F6F6F6;
    border: none;
    height: 15%;
    color: gray;

}


.currentExerciseImage{
    flex: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  /*  flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;*/
}

.currentExercise{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    flex-wrap: wrap;

}

.exerciseDescriptionDivs {
    flex:1 0 100%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    vertical-align: center;
}

.currentExerciseImage h6 {
    color: black;
    font-size: 1.3em;
}
.currentExercise h6{
    color: black;
    font-size: 1.3em;
}
.exerciseListItem {
    display:flex;
    align-items: center;
    background: linear-gradient(#71a3ff , #5d8ffc);
    width: 100%;
    border-bottom: 2px solid rgba(148,182,255,1);
}
.sequenceChallengeStatusWindow {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: auto;
    flex-flow: column;
    width: 100%;
    background-color: #F6F6F6;  
}

//Timer styling
.timerChallengeStatusWindow {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    width: 100%;
    background-color: #F6F6F6;
}
.challengeStatusWindowHide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    width: 100%;
    background-color: #F6F6F6;
    display: none;
}
.playButton {
    color: #3e8e41;
}
.pauseButton {
    color:red;
}

 input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
  .infoButton {
    width:25px;
    height:25px;
    line-height:25px;
    border-radius: 50%;
    margin-left: 2%;
    color: #5d8ffc;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align:center;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    background: transparent;
    border: none;
  }

  .finishExerciseButton {
    margin-bottom: 5%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:56px;
    height:56px;
    line-height:56px;
    border: 2px solid white;
    border-radius: 50%;
    color:white; 
    text-align:center;
    text-decoration:none;
    background: linear-gradient(#66b669, #3e8e41);
    font-size:20px;
    font-weight:bold;
}

.skipAndPrevIcon :hover {
    cursor: pointer;
}

  ::ng-deep .mat-icon-button{
      width: 48px !important;
      height: 48px !important;
      font-size: 40px !important;
    }
    ::ng-deep .mat-icon{
        width: 48px !important;
        height: 48px !important;
        font-size: 48px !important;
    }

    ::ng-deep .mat-icon.material-icons.md-30.mat-icon {
        width: 24px !important;
        height: 24px !important;
        font-size: 24px !important;
    }


 

    /*---------------------------Large Desktop --------------------------------*/
    @media only screen and (min-width: 1001px) {
        .flexArea {
            margin-top: 5%;
            margin-bottom: 5%;
            width: 33%;
        }

        .mainSection {
            font-size: 1.3em;
          }
          input, button { 
            font-size: 1.0em;
          }
    }
  
    /*---------------------------Medium Desktop --------------------------------*/
  @media only screen and (max-width: 1000px) and (min-width:501px) {
        .flexArea {
            margin-top: 10%;
            margin-bottom: 10%;
            width: 70%;
        }

        .mainSection {
            font-size: 1.2em;
          }
          input, button { 
            font-size: 0.9em;
          }
    }
    
    /*---------------------------Mobile Desktop --------------------------------*/
    @media only screen and (max-width: 500px) {
        .flexArea {
            margin-top: 15%;
            margin-bottom: 15%;
            width: 100%;
        }

        .mainSection {
            font-size: 1.0em;
          }
          input, button { 
            font-size: 0.7em;
          }
    }
    /*-------------------------------------------------------------------------*/
    