.mainSection {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.flexArea {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    -webkit-box-shadow: 10px 10px 50px -18px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 50px -18px rgba(0,0,0,1);
    box-shadow: 10px 10px 50px -18px rgba(0,0,0,1);
}

.challengeWindow {  
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    width: 100%;
    background-color: #F6F6F6;
}

.challengeWindow h2{  
    color: black;
}
.challengeWindow h3{  
    color: black;
}


.getChallengeWindow {  
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    width: 100%;
    background-color: #F6F6F6;
}

.challengeStatusWindow {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    width: 100%;
    background-color: #F6F6F6;
}
.challengeStatusWindowHide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    width: 100%;
    background-color: #F6F6F6;
    display: none;
}

 input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }

  .playButton {
      color: #3e8e41;
  }
  .pauseButton {
      color:red;
  }
  ::ng-deep .mat-icon-button{
      width: 48px !important;
      height: 48px !important;
      font-size: 40px !important;
    }
    ::ng-deep .mat-icon{
        width: 48px !important;
        height: 48px !important;
        font-size: 48px !important;
    }
  .getRandomChallengeButton {
    background: #3e8e41;
    color: #fff;
    border: 1px solid #3e8e41;
    border-radius: 5px;
    padding: 4%;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }


  .mainSection button:hover {
    cursor: pointer;
  }

    /*---------------------------Large Desktop --------------------------------*/
    @media only screen and (min-width: 1001px) {
        .flexArea {
            margin-top: 5%;
            margin-bottom: 5%;
            width: 33%;
        }

        .mainSection {
            font-size: 1.3em;
          }
          input, button { 
            font-size: 1.0em;
          }
    }
  
    /*---------------------------Medium Desktop --------------------------------*/
  @media only screen and (max-width: 1000px) and (min-width:501px) {
        .flexArea {
            margin-top: 10%;
            margin-bottom: 10%;
            width: 70%;
        }

        .mainSection {
            font-size: 1.2em;
          }
          input, button { 
            font-size: 0.9em;
          }
    }
    
    /*---------------------------Mobile Desktop --------------------------------*/
    @media only screen and (max-width: 500px) {
        .flexArea {
            margin-top: 15%;
            margin-bottom: 15%;
            width: 100%;
        }

        .mainSection {
            font-size: 1.0em;
          }
          input, button { 
            font-size: 0.7em;
          }
    }
    /*-------------------------------------------------------------------------*/
    