<div class="globalBackgroundColor">
  <div class="makeSpace" style="margin-top:0;padding-top:3%">
    <div class="textSection">
      <h1>Excellent that you want to try Officise </h1>
      <p>We have different types challenges depending of which physical level you are at. So try out our challenges and have fun while your health gets improved. 
      </p>
    </div>
  </div>
  <div class="makeSpace">
    <div class="textSection">
      <h3>Challenge a friend</h3>
      <p>In this game, you can challenge a friend at the office at different types of activities, for instance, foosball,
          table tennis or office exercises.</p>
    </div>
    <div class="centerImage">
      <img src="assets/showcase/images/startpage/Fussball.jpg" alt="Fussball image">
    </div>
  </div>

  <div class="makeSpace">
    <div class="textSection">
      <h3>Daily challenge</h3>
      <p>In this game, you are competing against yourself. How many days in a row can
         you manage to complete the daily challenge? If you regularly play this game you are going to notice how much more energy you get.
      </p>
    </div>
    <div class="centerImage">
      <img src="assets/showcase/images/startpage/energy.jpeg" alt="Energy image">
    </div>
  </div>

  <div class="makeSpace">
    <div class="textSection">
      <h3>Challenge with a friend</h3>
      <p>In this game you are doing a challenge together with a friend, take your friend to and try climbing for instance. 
      </p>
    </div>
    <div class="centerImage">
      <img src="assets/challengeWithFriend/Climbing.jpeg" alt="Climbing view">
    </div>
  </div>


  <div class="makeSpace">
    <h2>So what are you waiting for? Sign up and have fun!</h2>
    <div class="wrapper">
      <button class="wrapper button greenButtons" (click)="goToCreateAccount()" mat-raised-button>Register</button>
    </div>
    <div class="makeSpace">
      <h4>Or do you have already an account? Log in now! </h4>
      <div class="wrapper">
        <button class="wrapper button blueButtons" (click)="goToLogIn()" mat-raised-button>Log In</button>
      </div>
    </div>
  </div>
</div>