<div class="makeSpace">
  <div class="textSection">
    <h1>Oh, excellent that you want to try out our challenges! </h1>
    <p>We have different types challenges for every physical level you are at, for the most active people to these people who
      don't train at all. All these challenges can be done and the best part of this is that your health is going to increase
      significantly. Read more about our different challenges below </p>
  </div>
</div>
<div class="makeSpace">
  <div class="textSection">
    <h3>Challenge a friend!</h3>
    <p>In this game you can challenge a friend at the office at different types of acticites,for instance fuzzball, board tennis
      table or office exercises. The winner of the challenge gets point and it is possible to be the office champion in an
      activity such as fuzzball.</p>
  </div>
  <div class="centerImage">
    <img src="assets/showcase/images/startpage/Fussball.jpg" alt="Fussball">
  </div>
</div>

<div class="makeSpace">
  <div class="textSection">
    <h3>Daily challenge</h3>
    <p>In this game you are competing against yourself. How long can you manage to complete the daily challenge you got? If
      you regularly play this game you are going to notice how much more energy you get. This means that you have energy
      left when you getting home to do something you love.
    </p>
  </div>
  <div class="centerImage">
    <img src="assets/showcase/images/startpage/energy.jpeg" alt="Mountain view">
  </div>
</div>

<div class="makeSpace">
  <h2>So what are you waiting for? Sign up and have fun!</h2>
  <div class="wrapper">
    <button class="wrapper button" style="background-color:#3e8e41; color:white; " (click)="goToCreateAccount()" mat-raised-button>Register</button>
  </div>
  <div class="makeSpace">
    <h4>Or do you have already an account? Log in now! </h4>
    <div class="wrapper">
      <button class="wrapper button" style="background-color:#5d8ffc; color:white; " (click)="goToLogIn()" mat-raised-button>Log In</button>
    </div>
  </div>