<div class="mainContent backgroundColor">
    <div class="headingDiv">
        <h3 style="margin: 0; color: black">Hey there! Welcome back.</h3>
        <h4 style="color: gray">Enter your sign in details below</h4>
    </div>
    <div id="login_div" class="main-div">
        <h2>Email</h2>
        <input type="email" placeholder="Enter Email" id="email_field" [(ngModel)]="user.email" />
        <h2>Password</h2>
        <input style="margin-bottom: 0" type="password" placeholder="Enter Password" id="password_field" [(ngModel)]="user.password"
        />
        <p id="errorMsg" style="text-align: left; color:red; font-size:14px; padding:0; margin-top:4%; margin-bottom:4%">{{errorMessage}}</p>
        <button class="blueButtons" (click)="login(user)">Log in</button>
    </div>
    <div class="secondary-div">
        <p (click)="goToForgotPw()">Forgot password?</p>
        <p (click)="goToSignup()">Create account</p>
    </div>
</div>