

$mat-toolbar-height-desktop: 100px !default;
$mat-toolbar-height-mobile-portrait: 80px !default;
$mat-toolbar-height-mobile-landscape: 48px !default;

$mat-toolbar-row-padding: 16px !default;


@mixin mat-toolbar-height($height) {
  .mat-toolbar-multiple-rows {
    min-height: $height;
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: $height;
  }
}


/*--------------------------- Large screens --------------------------------*/

@media only screen and (min-width: 1400px) {
    @include mat-toolbar-height($mat-toolbar-height-desktop);
    
    .md-medium-tall p {
        font-size: 0.9em;
        height: 18px;

    }
}


/*--------------------------- Mobile --------------------------------*/

@media only screen and (max-width: 500px) {
    @include mat-toolbar-height($mat-toolbar-height-mobile-portrait);
    .md-medium-tall p {
        font-size: 0.5em;
        height: 12px;

    }
}

/*--------------------------- General --------------------------------*/
.md-medium-tall {
    opacity:0.7;
    //margin-top: 30%;
    position: relative;
    bottom:0px;
    background: #3E5062;
    overflow: hidden;
}

