<div id="containerGreeting" style="text-align:center">
  <h1 id="printUserName" style="text-align:center; color:black;">
  </h1>
  <div *ngIf="isLoggedIn() == true">
  </div>

  <div *ngIf="isLoggedIn() == false">
    <app-home></app-home>
  </div>

  <div>
    <img style="width:100%" src="assets/showcase/images/startpage/frontimage.png" alt="">
  </div>

  <div style="display:flex; color:black;">
    <div style="flex:1; background-color:slategrey; margin:1%;">
      <div>
        <img style="height:150px; margin-top:5%;" src="assets/showcase/images/startpage/getStarted.jpg" alt="">
      </div>
      <div>
          <h1 style="font-size:24px;">Daily challenge<br />
          </h1>
          <p style="font-size:12px;">How far can you go, try out our challenges and improve your health!</p>
      </div>
    </div>
    <div style="flex:1; background-color:slategrey;margin:1%;">
      <div>
        <img style="height:150px;margin-top:5%; " src="assets/showcase/images/startpage/victory.jpg" alt="">
      </div>
      <div>
          <h1 style="font-size:24px;">Statistics<br />
          </h1>
          <p style="font-size:12px;">See your stats</p>
      </div>
    </div>
    <div style="flex:1; background-color:slategrey;margin:1%;">
      <div>
        <img style="height:150px;margin-top:5%;" src="assets/showcase/images/startpage/challenges.jpg" alt="">
      </div>
      <div>
        <h1 style="font-size:24px;">Challenge a friend!<br />
        </h1>
        <p style="font-size:12px;">Time for talk is over, it is time for battle!</p>
      </div>
    </div>
  </div>

