<div class="mainSection">

  <div class="overViewArea" *ngIf="!selectedChallenge">

    <div style="margin-top: auto; width: 100%; height: 100%; display: flex; justify-content: flex-start; flex-direction: column">
      <div class="titleBox">
        <div style="display:flex; flex-direction: row; justify-content: center; vertical-align:middle">
          <p style="flex:1"></p>
          <h3 style="color: #F6F6F6; text-align: center; margin: 0; flex: 4">Challenge With a Friend</h3>
          <button (click)="toggleExplanationDialog()" class="infoButton" style="flex:1;color:white;">
            <mat-icon class="material-icons md-30" style="vertical-align:middle" aria-label="info">info_outline</mat-icon>
          </button>
        </div>
      </div>


      <p-dialog [(visible)]="showExplanationDialog" [draggable]=false [closeOnEscape]=false [showHeader]=false modal="modal" [responsive]="true"
        [style]="{'background-color':' #3E5062'}">
        <div style="border-bottom: solid 2px gray; margin-bottom: 10%">
          <h1 class="pDialogHeader">Challenge With a Friend Description</h1>
        </div>
        <p class="pDialogText"> This game is for you and your friend to complete the challenge together. If both complete the challenge you will
          receive 400, 300 or 200 points each. The amount of points is depending on which level the challenge is at. If only
          one of you complete the challenge the person who completes the challenge receives 200 points. When both complete
          the challenge, a streak begins. To maintain the streak both users need to complete a new challenge within a day.
        </p>
        <div style="margin-top: 15%; width: 100%; display: flex; align-items:center; justify-content: center">
          <button type="button" style="background-color: #3e8e41; border: none; height: 50%; width: 40%" pButton icon="" (click)="toggleExplanationDialog()"
            label="Got it!"></button>
        </div>
      </p-dialog>

      <div class="startNewChallengeHover" style="margin-top: auto; width: 100%; height: 100%; display: flex; justify-content: flex-start; flex-direction: column">
        <div class="startNewChallenge" (click)="goToChallengeWithFriend()">
          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <mat-icon class="material-icons md-48" style="color: white" aria-label="goBackArrow">play_arrow</mat-icon>
          </div>
          <div style="flex:4; flex-direction: column; align-items: left; vertical-align: middle; display: flex; justify-content: center">
            <h3 style="margin: 0; color: #F6F6F6; text-align: center">Start New Challenge</h3>
          </div>
          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">

          </div>
        </div>
      </div>

      <div *ngFor="let challenge of ListOfIncomingChallenges" class="challengeBox">
        <div style=" width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: center;">

          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <mat-icon class="material-icons md-48" style="color: white" aria-label="goBackArrow">priority_high</mat-icon>
          </div>
          <div style="flex:4; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <h3 style="color: #F6F6F6;">{{challenge.challenge}} challenge from {{challenge.challenger}}!</h3>
          </div>
          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <button (click)="acceptChallenge(challenge.challenger, challenge.challenge)" class="acceptButton">
              <mat-icon style="color: white" aria-label="goBackArrow">check</mat-icon>
            </button>
          </div>
          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <button (click)="declineChallenge(challenge.challenger)" class="declineButton">
              <mat-icon style="color: white; " aria-label="goBackArrow">clear</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="smallTitleDiv" *ngIf="ListOfCurrentChallenges.length > 0 || ListOfOutgoingChallenges.length > 0">
        <h4>Active Challenges</h4>
      </div>

      <div *ngFor="let challenge of ListOfCurrentChallenges" class="challengeBoxHoverable" (click)="selectChallenge(challenge.challenge, challenge.challenger)">
        <div style=" width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: center;">
          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <mat-icon class="material-icons md-48" style="color: #3f71de" aria-label="goBackArrow">insert_emoticon</mat-icon>
          </div>
          <div style="flex:4; flex-direction: column; align-items: left; vertical-align: middle; display: flex; justify-content: center">
            <h3 style="color: #F6F6F6;">{{challenge.challenge}} WITH {{challenge.challenger}}!</h3>
          </div>
          <div style="flex:1; flex-direction: row; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <mat-icon class="material-icons md-48" style="color: #3f71de; padding-left: 35px; " aria-label="goBackArrow">chevron_right</mat-icon>
            <mat-icon class="material-icons md-60" style="color: #3f71de; " aria-label="goBackArrow">chevron_right</mat-icon>
          </div>
        </div>
      </div>

      <div *ngFor="let challenge of ListOfOutgoingChallenges" class="challengeBox" style="opacity: 0.8">
        <div style=" width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: center;">
          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <svg width="48" fill="#3f71de" height="48" color="white" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
              <path d="M1536 128q0 261-106.5 461.5t-266.5 306.5q160 106 266.5 306.5t106.5 461.5h96q14 0 23 9t9 23v64q0 14-9 23t-23 9h-1472q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h96q0-261 106.5-461.5t266.5-306.5q-160-106-266.5-306.5t-106.5-461.5h-96q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h1472q14 0 23 9t9 23v64q0 14-9 23t-23 9h-96zm-128 0h-1024q0 206 85 384h854q85-178 85-384zm-57 1216q-54-141-145.5-241.5t-194.5-142.5h-230q-103 42-194.5 142.5t-145.5 241.5h910z"
              />
            </svg>
          </div>
          <div style="flex:4; flex-direction: column; align-items: left; vertical-align: middle; display: flex; justify-content: center;">
            <h3 style="color: #F6F6F6;">Waiting for response from {{challenge.challenger}}</h3>
          </div>
          <div style="flex:1; flex-direction: row; align-items: center; vertical-align: middle; display: flex; justify-content: center">

          </div>
        </div>
      </div>

    </div>
    <div style="margin-top: 30%; margin-bottom: 20%; display: flex; height: 100%; justify-content: center; align-items:center;vertical-align: middle"
      *ngIf="ListOfCurrentChallenges.length <= 0 && ListOfOutgoingChallenges.length <= 0">
      <p style="height: 100%; margin: 0; color:#686668">No active challenges</p>
    </div>
  </div>

  <!--HTML AFTER CHALLENGE HAS BEEN SELECTED-->

  <div class="flexArea challengeViewBox" *ngIf="selectedChallenge">
    <div style="margin-top: auto; width: 100%; height: 100%; display: flex; flex-direction: column; align-items:center; justify-content: flex-start">
      <!-- Box header -->
      <div class="titleBox" style="display:flex; flex: 1">
        <div style=" width: 100%; height: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center; vertical-align: middle">
          <div style="flex:1; vertical-align: middle; display: flex">
            <button (click)="returnToChallengeWithFriendOverview()" class="backArrowButton">
              <mat-icon class="material-icons md-48" style="color: white" aria-label="goBackArrow">chevron_left</mat-icon>
            </button>
          </div>
          <div style="flex: 3; display: flex; align-items: center; justify-content: center; vertical-align: middle">
            <h2 style="margin: 0; color: #F6F6F6">{{username}}
              <i>vs</i> {{challengerName}}</h2>
          </div>
          <div style="flex:1">
          </div>
        </div>
      </div>

      <div style="color:black; text-align:center;flex-direction: column; align-items:center; justify-content: flex-start; display:flex;flex:6;width: 100%;">
        <!-- Inside box: Challenge Information and Image -->
        <div style="flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center; display:flex; flex:4; width:100%;">
          <h3 style="display:flex; flex: 1">{{selectedChallenge}}</h3>
          <div style="display:flex;flex-direction: row;justify-content: center;flex:3; width:100%;">
            <p class="giveFlexMiddle"></p>
            <p class="RulesAndDescriptionText">Rules and description</p>
            <button (click)="toggleRulesAndDescriptionDialog()" class="infoButton RulesAndDescriptionButton" style="color:black">
              <mat-icon class="material-icons md-30" style="vertical-align:middle" aria-label="info">info_outline</mat-icon>
            </button>
            <p class="giveFlexMiddle"></p>
          </div>
          <div style="margin-bottom:10%; flex:4" class="centerImage">
            <img style="height:100%; width:auto; " src="assets/challengeWithFriend/{{selectedChallenge}}.jpeg" alt="Challenge image">
          </div>
        </div>


        <p-dialog [(visible)]="RulesAndDescriptionDialog" [draggable]=false [closeOnEscape]=false [showHeader]=false modal="modal"
          [responsive]="true" [style]="{'background-color':' #3E5062'}">
          <div style="border-bottom: solid 2px gray; margin-bottom: 10%">
            <h1 class="pDialogHeader">Challenge Rules and Description</h1>
          </div>
          <p style="display:flex; flex: 3" class="pDialogText">{{challengeDescription}}</p>
          <div style="margin-top: 15%; width: 100%; display: flex; align-items:center; justify-content: center">
            <button type="button" style="background-color: #3e8e41; border: none; height: 50%; width: 40%" pButton icon="" (click)="toggleRulesAndDescriptionDialog()"
              label="Got it!"></button>
          </div>
        </p-dialog>
        <!-- Inside box: Buttons information and Buttons -->
        <div style="flex-direction: column;  flex:2;">
          <div *ngIf="!(finishChallenge)">
            <p style="display:flex; flex: 1" class="challengeButtonText">Select the button below depending on whether
              <br>you completed the challenge or not.</p>
            <div style="margin-bottom:5%; flex: 6; text-align:center; align-items:center; justify-content: flex-start;">
              <button class="resultButtons" style="background-color:#3e8e41;border: 1px solid #3e8e41;" (click)="sendChallengeCompleted()">Completed</button>
              <button class="resultButtons" style="background-color:red;border: 1px solid red;" (click)="sendChallengeSkipped()">Skipped</button>
            </div>
          </div>
          <div *ngIf="(finishChallenge)">
            <div *ngIf="(choiceCompleted)">
              <p style="display:flex; flex: 1" class="challengeButtonText">You have chosen that you have completed the challenge</p>
            </div>
            <div *ngIf="(choiceSkipped)">
              <p style="display:flex; flex: 1" class="challengeButtonText">You have chosen that you have skipped the challenge</p>
            </div>
            <div style="margin-bottom:5%; flex:6; text-align:center; align-items:center; justify-content: flex-start;">
              <button class="resultButtons blueButtons" style=" width: 50%; " (click)="resetChoice()">Undo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>