<div>
  <img style="width:100%" src="assets/showcase/images/startpage/frontimage.png" alt="">
</div>

<div class="container">

      <h2>3 Cards wide</h2>
  <!-- card deck: group of cards not attached to each other -->
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top img-responsive" src="http://placehold.it/340x200" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Medium Text. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-responsive" src="http://placehold.it/340x200" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Short Text.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-responsive" src="http://placehold.it/340x200" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Long Text. This is a card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action. Even more amazing, it works when the window is resized</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">

  <div class="col-md-12 col-lg-12">
    <app-leaderboard></app-leaderboard>
  </div>

</div>