<div class="globalBackgroundColor">

  <div class="frontPageSection">
    <section class="intro">
      <div class="inner">
        <div class="content">
          <h3 style="font-family: 'Noticia Text', serif;">Officise, finally an application that improves your health by having fun</h3>
          <!--
            <h3 style="font-style:italic;">Almost everything will work again if you unplug it for a few minutes...
            <br> including you.</h3>-->
          <div class="buttonSection">
            <a class="button" href="#middle">Get Started</a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!--
<div class="frontPageSection">
  <section class="intro">
    <div class="inner">
      <div class="content">
        <h1>Less is more</h1>
        <a class="button" href="#middle">Get Started</a>
      </div>
    </div>
  </section>
</div>

<div id="hero">
  <div id="hero-overlay">
    <h3 class="introText">
      Almost everything will work again if you unplug it for a few minutes...
      <br> including you.
    </h3>
  </div>
</div>

-->

  <div id="middle" class="cardSectionBig">

    <div class="cardSectionSmall">
      <div class="card headerColor" (click)="goToGameInformation()">
        <h1 class="cardh1">Daily challenge</h1>
        <div>
          <img style="width:100%;height:auto;" src="assets/showcase/images/startpage/getStarted.jpg" alt="">
        </div>
        <div>
          <p class="cardp">Try out our challenges and improve your health!</p>
        </div>
      </div>

      <div class="card headerColor" (click)="goToHealthInformation()">
        <h1 class="cardh1">Health improvements</h1>
        <div>
          <img style="width:100%;height:auto;" src="assets/showcase/images/startpage/health.jpeg" alt="">
        </div>
        <div>
          <p class="cardp">How can this application improve your health?</p>
        </div>
      </div>

      <div class="card headerColor" (click)="goToGameInformation()">
        <h1 class="cardh1">Challenge a friend!
        </h1>
        <div>
          <img style="width:100%;height:auto;" src="assets/showcase/images/startpage/challenges.jpg" alt="">
        </div>
        <div>
          <p class="cardp">Time for talk is over, it is time for battle!</p>
        </div>
      </div>

    </div>
  </div>

  <div class="container">

    <div class="col-md-12 col-lg-12">
      <app-leaderboard></app-leaderboard>
    </div>

  </div>

</div>