<div>
  <img style="width:100%" src="assets/showcase/images/startpage/frontimage.png" alt="">
</div>

<div class="cardSectionBig">

  <div class="cardSectionSmall">
    <div class="card" (click)="goToGameInformation()">
      <h1 class="cardh1">Daily challenge</h1>
      <div>
        <img style="width:100%;height:auto;" src="assets/showcase/images/startpage/getStarted.jpg" alt="">
      </div>
      <div>
        <p class="cardp">Try out our challenges and improve your health!</p>
      </div>
    </div>

    <div class="card" (click)="goToHealthInformation()">
      <h1 class="cardh1">Health improvements</h1>
      <div>
        <img style="width:100%;height:auto;" src="assets/showcase/images/startpage/health.jpeg" alt="">
      </div>
      <div>
        <p class="cardp">How can this application improve your health?</p>
      </div>
    </div>

    <div class="card" (click)="goToGameInformation()">
      <h1 class="cardh1">Challenge a friend!
      </h1>
      <div>
        <img style="width:100%;height:auto;" src="assets/showcase/images/startpage/challenges.jpg" alt="">
      </div>
      <div>
        <p class="cardp">Time for talk is over, it is time for battle!</p>
      </div>
    </div>

  </div>
</div>

<div class="container">

  <div class="col-md-12 col-lg-12">
    <app-leaderboard></app-leaderboard>
  </div>

</div>
