<body>
  <div id="login_div" class="main-div">
      <h3>Register a new account</h3>
      <h2>Email</h2>
      <input  type="email" placeholder="yourname@example.com..." id="email_field" [(ngModel)] = "user.email"/>
      <h2>Password</h2>
      <input  label="Password" type="password" placeholder="Must have at least 6 characters..." id="password_field" [(ngModel)] = "user.password" />
      <h2>Retype Password</h2>
      <input style="margin-bottom: 0" type="password" placeholder="Must have at least 6 characters..." id="retype_password_field"  [(ngModel)] ="retypedPassword"/>
      <p id="errorMsg" style="text-align: left; color:red; font-size:14px; padding:0; margin-top:4%; margin-bottom:4%">{{errorMessage}}</p>
      <button (click)="register(user)">Register</button>

      <p-dialog header="Confirmation" [(visible)]="display" modal="modal" [responsive]="true">
        <p>Successfully created account with email {{user.email}}</p>
            <p-footer>
                <button type="button" pButton icon="" (click)="goToHome()" label="Okay!"></button>
            </p-footer>
      </p-dialog>

  </div>

</body>
