<div class="mainSection">

  <div class="overViewArea" *ngIf="!selectedChallenge">

    <div style="margin-top: auto; width: 100%; height: 100%; display: flex; justify-content: flex-start; flex-direction: column">
      <div class="titleBox">
        <div style=" width: 100%; height: 100%; display: flex; flex-direction: column;justify-content: center;">
          <h3 style="color: #F6F6F6; text-align: center">Challenge overview</h3>
        </div>
      </div>


      <div class="startNewChallengeHover" style="margin-top: auto; width: 100%; height: 100%; display: flex; justify-content: flex-start; flex-direction: column">
        <div class="startNewChallenge" (click)="goToChallengeFriend()">
          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <mat-icon class="material-icons md-48" style="color: white" aria-label="goBackArrow">play_arrow</mat-icon>
          </div>
          <div style="flex:4; flex-direction: column; align-items: left; vertical-align: middle; display: flex; justify-content: center">
            <h3 style="margin: 0; color: #F6F6F6; text-align: center">Start New Challenge</h3>
          </div>
          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">

          </div>
        </div>
      </div>

      <div *ngFor="let challenge of ListOfIncomingChallenges" class="challengeBox">
        <div style=" width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: center;">

          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <mat-icon class="material-icons md-48" style="color: white" aria-label="goBackArrow">priority_high</mat-icon>
          </div>
          <div style="flex:4; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <h3 style="color: #F6F6F6;">{{challenge.challenge}} challenge from {{challenge.challenger}}!</h3>
          </div>
          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <button (click)="acceptChallenge(challenge.challenger, challenge.challenge)" class="acceptButton">
              <mat-icon style="color: white" aria-label="goBackArrow">check</mat-icon>
            </button>
          </div>
          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <button (click)="declineChallenge(challenge.challenger)" class="declineButton">
              <mat-icon style="color: white; " aria-label="goBackArrow">clear</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="smallTitleDiv">
        <h4>Active Challenges</h4>
      </div>

      <div *ngFor="let challenge of ListOfCurrentChallenges" class="challengeBoxHoverable" (click)="selectChallenge(challenge.challenge, challenge.challenger)">
        <div style=" width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: center;">
          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <mat-icon class="material-icons md-48" style="color: #3f71de" aria-label="goBackArrow">insert_emoticon</mat-icon>
          </div>
          <div style="flex:4; flex-direction: column; align-items: left; vertical-align: middle; display: flex; justify-content: center">
            <h3 style="color: #F6F6F6;">{{challenge.challenge}} VS {{challenge.challenger}}!</h3>
          </div>
          <div style="flex:1; flex-direction: row; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <mat-icon class="material-icons md-48" style="color: #3f71de; padding-left: 35px; " aria-label="goBackArrow">chevron_right</mat-icon>
            <mat-icon class="material-icons md-60" style="color: #3f71de; " aria-label="goBackArrow">chevron_right</mat-icon>
          </div>
        </div>
      </div>

      <div *ngFor="let challenge of ListOfOutgoingChallenges" class="challengeBox" style="opacity: 0.8">
        <div style=" width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: center;">
          <div style="flex:1; flex-direction: column; align-items: center; vertical-align: middle; display: flex; justify-content: center">
            <svg width="48" fill="#3f71de" height="48" color="white" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
              <path d="M1536 128q0 261-106.5 461.5t-266.5 306.5q160 106 266.5 306.5t106.5 461.5h96q14 0 23 9t9 23v64q0 14-9 23t-23 9h-1472q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h96q0-261 106.5-461.5t266.5-306.5q-160-106-266.5-306.5t-106.5-461.5h-96q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h1472q14 0 23 9t9 23v64q0 14-9 23t-23 9h-96zm-128 0h-1024q0 206 85 384h854q85-178 85-384zm-57 1216q-54-141-145.5-241.5t-194.5-142.5h-230q-103 42-194.5 142.5t-145.5 241.5h910z"
              />
            </svg>
          </div>
          <div style="flex:4; flex-direction: column; align-items: left; vertical-align: middle; display: flex; justify-content: center;">
            <h3 style="color: #F6F6F6;">Waiting for response from {{challenge.challenger}}</h3>
          </div>
          <div style="flex:1; flex-direction: row; align-items: center; vertical-align: middle; display: flex; justify-content: center">

          </div>
        </div>
      </div>

    </div>
  </div>

  <!--HTML AFTER CHALLENGE HAS BEEN SELECTED-->

  <div class="flexArea" *ngIf="selectedChallenge">
    <div style="margin-top: auto; width: 100%; height: 100%; display: flex; flex-direction: column; align-items:center; justify-content: flex-start">
      <div class="titleBox">
        <div style=" width: 100%; height: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center; vertical-align: middle">
          <div style="flex:1; vertical-align: middle; display: flex">
            <button (click)="returnToChallengeOverview()" class="backArrowButton">
              <mat-icon class="material-icons md-48" style="color: white" aria-label="goBackArrow">chevron_left</mat-icon>
            </button>
          </div>
          <div style=" flex: 2; display: flex; align-items: center; justify-content: center; vertical-align: middle">
            <h2 style="margin: 0; color: #F6F6F6">{{username}}
              <i>vs</i> {{challengerName}}</h2>
          </div>
          <h2 style="flex: 1"></h2>
        </div>
      </div>
      <!-- Inside box -->
      <div style="color:black; text-align:center;">
        <h3>{{selectedChallenge}}</h3>
        <p class="challengeDescText">{{challengeDescription}}</p>
        <div style="margin-bottom:10%;"class="centerImage">
          <img src="assets/challengeFriend/{{selectedChallenge}}.jpg" alt="Challenge image">
            <!--<img src="assets/showcase/images/startpage/Fussball.jpg" alt="Fussball"> -->
        </div>
        <p class="challengeButtonText">If you won the match, please click on the won button.
          <br> if you lost the match, please click on the Lost button.</p>
        <div>
          <button style="background-color:#3e8e41; color:white; width: 36%;" class="button" (click)="goToCreateAccount()">Won</button>
          <button style="background-color:red; color:white; width: 36%;" class="button" (click)="goToCreateAccount()">Lost</button>
        </div>
      </div>
    </div>
  </div>


</div>