/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

.blueButtons {
    background-color:#1985A1;
    border: 1px solid #1985A1;
    color:white;
}

.greenButtons {
    background-color:#3e8e41;
    border: 1px solid #3e8e41;
    color:white;
}

.redButtons {
    background-color:red;
    border: 1px solid red;
}

.headerColor {
    background-color:#4C5C68;
}

.flexDivColor {
    background-color:#4C5C68;
}

.footerColor {
    background-color:#4C5C68;
}

.backgroundColor {
    background-color: #DCDCDD; 
}

html {
    height: 100%;
}
body {
  background: #DCDCDD;
  //padding: 3em;
  font-family: 'Raleway', 'Arial';
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
}
ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}

ul li a {
    font-size: 1.5em;
}

a {
    color:#fff;
    text-decoration:none;

}

.ui-panel-images {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
/*
.ui-widget-content {
  width:90%;
}*/

  
