/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

/* Color and background */ 
.globalMainSectionBackground {
    height: 100%;
    width: 100%; 
    margin: auto; 
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/Background/9.jpg);
    //background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/Background/8.jpg);
    top:0; 
    background-size:cover; 
}

.globalBackgroundLoginSignUp{
    width: 100%; 
    margin: auto; 
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/Background/9.jpg);
    //background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/Background/8.jpg);
    top:0; 
    background-size:cover; 
}


 .globalFlexDivColor {
    //background-color:#A2A0A3;
    background-color:#F6F6F6;
    //background-color:#DCDCDD;
    //color:white;
}

.footerColor {
    background-color:#4C5C68;
}


.globalBackgroundColor {
    //background-color: #DCDCDD; 
    background-color:#F6F6F6;
}

/*******************************/ 

/* Components */ 

.blueButtons {
    background-color:#1985A1;
    border: 1px solid #1985A1;
    color:white;
}

.greenButtons {
    background-color:#3e8e41;
    border: 1px solid #3e8e41;
    color:white;
}

.redButtons {
    background-color:red;
    border: 1px solid red;
}

.headerColor {
    background-color:#4C5C68;
}

html {
    height: 100%;
}
body {
  background-color:#F6F6F6;
  //padding: 3em;
  font-family: 'Raleway', 'Arial';
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
}
ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}

ul li a {
    font-size: 1.5em;
}

a {
    color:#fff;
    text-decoration:none;

}

.ui-panel-images {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
/*
.ui-widget-content {
  width:90%;
}*/

  
