<div class="mainSection">

  <div class="leaderboardBigBox">
    <div class="card-header">
      <h5>
        Daily Challenge
      </h5>
    </div>
    <div class="leaderboardBox">
      <div *ngFor="let user of leaderboardObservable | async" class="leaderboardUserBox">
        <div style="flex:3;">
          <h6 class="boxText">{{user.username}}</h6>
          <p class="boxPText">Streak: {{user.score}} days</p>
        </div>
        <div style="flex:1;">
          <img class="icons" src="assets/showcase/images/startpage/prizeIcon.png" alt="logo" />
        </div>
      </div>
    </div>
  </div>

  <div class="leaderboardBigBox">
    <div class="card-header">
      <h5>
        Challenge a friend
      </h5>
    </div>
    <div>
      <div class="leaderboardBox">
        <div *ngFor="let user of leaderboardObservable | async" class="leaderboardUserBox">
          <div style="flex:3">
            <h6 class="boxText">{{user.username}}</h6>
            <p class="boxPText">Streak: {{user.score}} days</p>
          </div>
          <div style="flex:1">
            <img class="icons" src="assets/showcase/images/startpage/prizeIcon.png" alt="logo" />
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="leaderboardBigBox">
    <div class="card-header">
      <h5>
        Most points
      </h5>
    </div>
    <div>
      <div class="leaderboardBox" >
        <div *ngFor="let user of leaderboardObservable | async" class="leaderboardUserBox">
          <div style="flex:3">
            <h6 class="boxText">{{user.username}}</h6>
            <p class="boxPText">Streak: {{user.score}} days</p>
          </div>
          <div style="flex:1">
            <img class="icons" src="assets/showcase/images/startpage/prizeIcon.png" alt="logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>