
  /*---------------------------General --------------------------------*/
  .mainSection{
    width:100%;
    display:flex;
    margin-bottom:3%;
  }

  .leaderboardBigBox {
    flex:1;
    border-style: none;
    border-width: 0.5px;
    color: black;
    margin: 5px;
    background-color:white;
  }
  .card-header {
    min-height:36%;
    max-height:36%;
    //color:black; 
    text-align:center;
    color:white;
  }
  
  .leaderboardBox {
    margin:10%;
    background-color: white;
  }

  .leaderboardUserBox {
    border-style: solid;
    border-width: 0.5px;
    color: black;
    text-align: center;
    //background-color:#f5f5f0; 
    display: flex;
    margin:2%;
  }

  .boxText {
    margin: 0;
  }

  .boxPText {
    margin: 0;
  }
  /*************** */
  .icons {
    width:28px;
    height:28px
  }
  /*---------------------------Large Desktop --------------------------------*/
  @media only screen and (min-width: 1001px) {

    .card-header {
      min-height:20%;
      max-height:20%;
    }

    .boxText {
      font-size: 1em;
    }
    .boxPText {
      font-size: 0.8em;
    }

    .icons {
      width:28px;
      height:28px
    }
  }
    /*---------------------------Medium Desktop --------------------------------*/
    @media only screen and (max-width: 1000px) and (min-width:501px) {
      h5 {
        font-size: 18px;
      }

      .icons {
        width:22x;
        height:22px;
      }
  
      .boxText {
        font-size:1em;
      }
      .boxPText {
        font-size:0.5em;
      }
    }
  
  /*---------------------------Mobile Desktop --------------------------------*/
  @media only screen and (max-width: 500px) {

    h5 {
      font-size: 10px;
    }

    .icons {
      width:14x;
      height:14px;
    }

    .boxText {
      font-size:0.5em;
    }
    .boxPText {
      font-size:0.4em;
    }
  }
  /*-------------------------------------------------------------------------*/
