<div *ngIf="isLoggedOut() == true">
  <app-home></app-home>
</div>

<div *ngIf="isLoggedOut() == false">
  <app-user-home></app-user-home>
</div>


<!-- 
<div>
  <img style="width:100%" src="assets/showcase/images/startpage/frontimage.png" alt="">
</div>

<div id="example1" style="height:650px">
<h2>Hello World</h2>
<p>The background image is displayed in its original size.</p>
</div>


<div class="container">
  <!-- <app-carousel></app-carousel> -->
<!--
  <div class="col-md-12 col-lg-12">
      <app-leaderboard></app-leaderboard>
    </div>
  
  </div>

-->