  /*---------------------------General --------------------------------*/

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.ui-panel-images {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.ui-widget-content {
  width: 90%;
}

.ui-galleria	{

}

.mainSection {
  min-height: 100%;
}

  /*---------------------------Large Desktop --------------------------------*/
  @media only screen and (min-width: 1001px) {
    .mainSection {
      display:flex;
      
    }

    .sections{
      flex:1;
      margin-left:5%;
      margin-right:5%;
    }

  }

  /*---------------------------Medium Desktop --------------------------------*/
@media only screen and (max-width: 1000px) and (min-width:501px) {
  .mainSection {
    display:flex;
    }
  .sections{
    flex:1;
    }
      
  }
  
  /*---------------------------Mobile Desktop --------------------------------*/
  @media only screen and (max-width: 500px) {
    .mainSection {
      display:block;
    }
  }
  /*-------------------------------------------------------------------------*/
