<!--<div>
  <p-galleria [autoPlay]="true" [images]="images" panelWidth="90%" panelHeight="313" [showCaption]="true"></p-galleria>
</div> style="width:90%; padding-left:25%; " -->
<!--
<div class="mainSection">
  <!--
  <div class="sections">
    <p-galleria [images]="images" [showFilmstrip]="false" [showCaption]="true" effectDuration=2000 transitionInterval=10000 panelWidth="450"
      panelHeight="313"></p-galleria>>
  </div>


  <div class="sections">
    <app-leaderboard></app-leaderboard>
  </div>
</div>
      -->

<div class="container">
  <div class="col-md-8 col-lg-10 col-centered">
    <app-carousel></app-carousel>
  </div>
</div>
  <div class="col-md-12 col-lg-12">
    <app-leaderboard></app-leaderboard>
  </div>
