.pDialogHeader{
    margin: 0; 
    color: #F6F6F6;
    text-align: center;
}

#location:invalid {
    color: red;
}

#date:invalid {
    color: red;
}

#time:invalid {
    color: red;
}

.challengeInfoSection {
    color:black;
    text-align: center;
    flex: 2;
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
}

.sendChallengeText {
    flex: 2;
    color: black;
}

.sendChallengeButtonSection {
    flex:3;
    width: 100%;
}


.scheduleButton{
    border-radius: 5px;
    padding: 4%;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color:white; 
    width: 35%;
    height:15%;
    padding: 0px;
}

.mainSection {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.flexArea {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-box-shadow: 10px 10px 50px -18px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 50px -18px rgba(0,0,0,1);
    box-shadow: 10px 10px 50px -18px rgba(0,0,0,1);
}


.titleBox {
    width: 100%;
    height: 80px;
    
    display: flex;
    justify-content: center;
    flex-flow: column;
    //background: #84ABFD; 0070CC
    //background: linear-gradient(#526476, #3E5062) ;
    background: linear-gradient(#526476, #058FAF) ;
    border-bottom: 2px solid #526476;
}


.challengeBox {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex-direction: row;
    background: linear-gradient(#19a3c3, #058FAF); 
    border-bottom: 2px solid #19a3c3;
  
}


.challengeBox :hover {
    cursor: pointer;
    opacity: 0.6;
    //background-color: #526476;
}

.state {
    padding: 10px;
    color: black;
    font-size: 1.0em;
    font-family: sans-serif;
}

.state:hover {
   // cursor: pointer;
    background: #F6F6F6;
}

.state-container-dropdown {
    position: absolute;
    z-index: 1;
    width: 100%;
    -webkit-box-shadow: 10px 10px 50px -18px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 50px -18px rgba(0,0,0,1);
    box-shadow: 10px 10px 50px -18px rgba(0,0,0,1);
   // height: 200px;
    max-height: 300px;
    background: white;
    overflow-y: auto;
}

.selectedChallenge {
    width: 100%;
    height: 15%;
    justify-content: center;
    flex-flow: column;
    background: linear-gradient(#526476, #3E5062) ;
}

.sendChallengeButton {
    background: #3e8e41;
    color: #fff;
    border: 1px solid #3e8e41;
    border-radius: 5px;
    padding: 4%;
    margin-top: 2%;
  }

.usernameInput {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 4%;
    outline: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.usernameInput :focus {
    border: 1px solid #777;
}
.username_available {
    color: #3e8e41;
    margin-top: 1%;
    margin-bottom: 1%;
}

.username_taken {
    color: red;
    margin-top: 1%;
    margin-bottom: 1%;
}

  .mainSection button:hover {
    cursor: pointer;
  }




 input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
  
  .backArrowButton {
      background-color: transparent;
      padding: 0;
      border: none;
      height: 48px;
      width: 48px;
  }

  .backArrowButton :hover{
    cursor: pointer;
  }

  ::ng-deep .mat-icon{
    width: 48px !important;
    height: 48px !important;
    font-size: 48px !important;
}

 

    /*---------------------------Large Desktop --------------------------------*/
    @media only screen and (min-width: 1001px) {
        .flexArea {
            margin-top: 2%;
            margin-bottom: 2%;
            width: 40%;
        }

        .mainSection {
            font-size: 1.3em;
          }
          input, button { 
            font-size: 1.0em;
          }
          .challengeBox h3 {
            font-size: 1.1em;
        }
        .challengeBox h6 {
          font-size: 0.8em;
      }
    }
  
    /*---------------------------Medium Desktop --------------------------------*/
  @media only screen and (max-width: 1000px) and (min-width:501px) {

        .challengeInfoSection {
            flex: 3;
        }
        
        .sendChallengeText {
            flex: 1;
        }
        
        .sendChallengeButtonSection {
            flex:2;

        }

        .flexArea {
            margin-top: 2%;
            margin-bottom: 2%;
            width: 60%;
        }

        .mainSection {
            font-size: 1.2em;
          }
          input, button { 
            font-size: 0.9em;
          }
          .challengeBox h3 {
            font-size: 1.1em;
        }
        .challengeBox h6 {
          font-size: 0.8em;
      }
    }
    
    /*---------------------------Mobile Desktop --------------------------------*/
    @media only screen and (max-width: 500px) {
        .scheduleButton{
            width: 85px;
            height:30px;
        }

        .changeChallengeInformationText {
            font-size: 15px;
        }

        .mainSection {
            min-height: 640px;
        }

        .pDialogHeader{
            font-size: 110%;
        }

        .challengeInfoSection {
            flex: 2;
        }
        
        .sendChallengeText {
            flex: 2;
        }
        
        .sendChallengeButtonSection {
            flex:3;

        }

        .flexArea {
            //margin-top: 15%;
            margin-bottom: 15%;
            width: 100%;
        }

        .titleBox {
            height: 80px;
        }

        .mainSection {
            font-size: 1.0em;
          }
          input, button { 
            font-size: 0.7em;
          }
          .challengeBox h3 {
              font-size: 1.2em;
          }
          .challengeBox h6 {
            font-size: 0.9em;
        }
    }
    /*-------------------------------------------------------------------------*/
    